{% extends 'base.html' %}
{% block body %}
<form action="/questions/create/">
  <div class="form-group">
    <label for="user">User name</label>
    <input type="text" class="form-control" id="user" name="user">
  </div>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title">
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <textarea name="content" id="content" cols="155" rows="5"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Regist</button>
</form>
{% endblock %}